#footer-container {
	padding: $global-padding/2 0;
	background: $secondary-color;

	#footer {
		
		* {
			color: rgba($white,0.8);
		}
		
		a {
				
			&:hover,
			&:focus {
				color: $white;
			}
		}
		
		ul.menu {
			
			li {
				
				a {
					background: transparent !important;
				}

				&:first-of-type {

					a {
						padding-left: 0;

					}
				}

				
			}
		}
	}
}
