#content {
	margin: $global-margin*3 0;
}

.skip-to-content {
	height: 0;
	display: block;
	padding: 0;
	background: $topbar-background;
	color: $white;
	line-height: 0;
	font-size: 0;
	
	&:active,
	&:hover,
	&:focus {
		background: $accent-color;
		color: $white;
		height: auto;
		padding: $global-padding;
		line-height: 1;
		font-size: 1rem;
	}
}

.wf-loading {

	body {
		
		&:before {
			@include icon("\f110");
			display: block;
			padding: $global-padding*2;
			width: 100%;
			font-size: rem-calc(24);
			text-align: center;
		}
	
		.off-canvas-wrapper {
			opacity: 0;
			display: none;
			animation-delay: 1s;
		}
	}
}