body {
	max-width: 100%;
	overflow-x: hidden;
}

.row {
	max-width: $global-width;
	margin: 0 auto;
}

.skip-to-content {
	height: 0;
	display: block;
	padding: 0;
	background: $topbar-background;
	color: $white;
	line-height: 0;
	font-size: 0;
	
	&:active,
	&:hover,
	&:focus {
		background: $accent-color;
		color: $white;
		height: auto;
		padding: $global-padding;
		line-height: 1;
		font-size: 1rem;
	}
}

#content {
	background: $white;
}

#children {
	@include grid-gutter-margin-top;
	@include grid-gutter-margin-bottom;
}