.off-canvas {
	background: $secondary-color;

	> ul {
		height: 100vh;
	}

	ul {

		li {

			a {
				color: rgba($white, 0.8);

				&:hover,
				&:focus,
				&:active {
					color: $white;
					background: rgba($white, 0.1);
				}
			}

			&.menu-item-has-children {

				> a {
					display: flex;
					width: 100%;
					flex-wrap: nowrap;
					justify-content: space-between;

					&:after {
						content: '+';
					}
				}

				&[aria-expanded=true] {

					> a {

						&:after {
							content: '-';
						}
					}
				}
			}
		}
	}
}
