.title-bar {

	.menu-icon {
		color: $white;
	}

	i, svg {
		margin-right: $global-padding/2;
	}

	&:before,
	&:after {
		content: none;
	}
}

#upper-bar {
	background: $secondary-color;
	padding: $global-padding/2 0;

	* {
		color: $white;
		font-size: rem-calc(14);
	}

	.row {
		justify-content: center;

		@include breakpoint(large up) {
			justify-content: flex-end;
		}
	}

	.columns {
		display: flex;
		align-items: center;
	}

	span {
		margin-right: $global-margin;
	}

	ul.social {
		display: inline-block;
		margin-right: $global-margin;
		margin-bottom: 0;
		line-height: 1.0;

		li {

			a {

				&:before {
					content: none;
				}

				svg {
					width: rem-calc(25);
					height: rem-calc(25);
				}
			}
		}
	}

	.button {
		margin: 0;
	}
}

#top-bar {
	
	#logo {
		height: 100%;
		
		a {
			padding: $global-padding 0;
			display: block;
			text-align: center;
			
			@include breakpoint(large up) {
				text-align: left;
			}
		}
	}
	
	#site-navigation {
		display: none;
		
		@include breakpoint(medium up) {
			display: block;
		}
		
		> ul.menu { // top level only
			width: 100%;
			display: flex;
			justify-content: center;

			@include breakpoint(large up) {
				justify-content: flex-end;
			}
		}
	}

	
	ul.menu { // all menus including dropdowns
		
		> li {
			
			a {
				padding: $global-padding;
				
				&:focus {
					color: $menu-item-color-active;
					background: $menu-item-background-active;

					&:after {
						border-color: $menu-item-color-active transparent transparent;
					}
				}
			}
			
			&.is-dropdown-submenu-parent {
				
				a {
					padding-right: $global-padding*2;
					
					&:after {
						right: $global-padding;	
					}
					
				}
			}

			&:hover,
			&.active {

				> a {
					color: $menu-item-color-active;
					background: $menu-item-background-active;
					
					&:after {
						border-color: $menu-item-color-active transparent transparent;
					}
				}
			}
			
			&:hover,
			&:focus {
				
				> ul.dropdown.menu {
					opacity: 1.0;
				}
			}
			
			ul.dropdown.menu {
				left: 0;
				right: auto;
				border: 0;
				opacity: 0;
				
				li, li a {
					line-height: $global-lineheight;
				}
				
				li {
					font-size: 0.9em;
					
					a {
						padding: $global-padding/2 $global-padding;
						color: $menu-item-color-active;
						
						&:hover,
						&:focus {
							background: darken($menu-item-background-active, 10%);
						}
					}
				}
				
			}
			
		}
	}
}