#top-bar {
	
	#site-navigation {
		display: none;
		
		@include breakpoint(medium up) {
			display: block;
		}
	}
	
	ul.menu {
		
		> li {

			&:hover,
			&.active {

				> a {
					color: $menu-item-color-active;
					background: $menu-item-background-active;
					
					&:after {
						border-color: $menu-item-color-active transparent transparent;
					}
				}
			}
			
			a {
				padding: $global-padding;
				
				&:focus {
					color: $menu-item-color-active;
					background: $menu-item-background-active;

					&:after {
						border-color: $menu-item-color-active transparent transparent;
					}
				}
			}
			
			&.is-dropdown-submenu-parent {
				
				a {
					padding-right: $global-padding*2;
					
					&:after {
						right: $global-padding;	
					}
					
				}
			}


			ul.dropdown.menu {
				left: 0;
				right: auto;
				border: 0;
				
				li, li a {
					line-height: $global-lineheight;
				}
				
				li {
					font-size: 0.9em;
					
					a {
						padding: $global-padding/2 $global-padding;
					}
				}
				
				
			}
			
		}
	}
}