.title-bar {

	.menu-icon {
		color: $white;
	}

	i, svg {
		margin-right: $global-padding/2;
	}

	&:before,
	&:after {
		content: none;
	}
}

#top-bar {
	
	#logo {
		height: 100%;
		
		a {
			padding: $global-padding 0;
			display: block;
			text-align: center;
			
			@include breakpoint(large up) {
				text-align: left;
			}
		}
	}
	
	#site-navigation {
		display: none;
		
		@include breakpoint(medium up) {
			display: block;
		}
		
		> ul.menu { // top level only
			width: 100%;
			display: flex;
			justify-content: center;

			@include breakpoint(large up) {
				justify-content: flex-end;
			}
		}
	}

	
	ul.menu { // all menus including dropdowns
		
		> li {
			
			a {
				padding: $global-padding;
				
				&:focus {
					color: $menu-item-color-active;
					background: $menu-item-background-active;

					&:after {
						border-color: $menu-item-color-active transparent transparent;
					}
				}
			}
			
			&.is-dropdown-submenu-parent {
				
				a {
					padding-right: $global-padding*2;
					
					&:after {
						right: $global-padding;	
					}
					
				}
			}

			&:hover,
			&.active {

				> a {
					color: $menu-item-color-active;
					background: $menu-item-background-active;
					
					&:after {
						border-color: $menu-item-color-active transparent transparent;
					}
				}
			}
			
			&:hover,
			&:focus {
				
				> ul.dropdown.menu {
					opacity: 1.0;
				}
			}
			
			ul.dropdown.menu {
				left: 0;
				right: auto;
				border: 0;
				opacity: 0;
				
				li, li a {
					line-height: $global-lineheight;
				}
				
				li {
					font-size: 0.9em;
					
					a {
						padding: $global-padding/2 $global-padding;
						color: $menu-item-color-active;
						
						&:hover,
						&:focus {
							background: darken($menu-item-background-active, 10%);
						}
					}
				}
				
			}
			
		}
	}
}