form {
	
	.ninja-forms-req-symbol {
		color: $alert-color;
	}
	
	.nf-error-msg {
		@extend .callout, .alert.callout;
		padding: $global-padding/4;
	}

	.label-above .nf-field-label {
		margin-bottom: 0;
	}

	.nf-field-container {
		margin-bottom: $global-margin/2 !important;
	}
	
	.nf-after-field {
		
		.nf-error-msg {
			margin-right: 0;
		}
	}
	
	.nf-error  {
		
		.ninja-forms-field {
			border-color: $alert-color;
		}
	}

	.submit-wrap {

		.nf-field-element {
			width: 100%;
			display: flex;

			input[type=button] {
				@extend .button, .button.primary;
				margin-left: auto;
			}
		}
	}
}