.gallery {
	line-height: 0;
	
	a, a:hover, a:focus {
		padding: 0;
		margin: 0;
		background: none;
	}
	
	.gallery-item {
		padding: $global-padding/3 !important;
		margin: 0 !important;
		float: none!important;
		display: inline-block!important;
		position: relative!important;
		
		img {
			display: block;
			border: none!important;
			width: 100%;
			height: auto;
		}
		
		.gallery-caption {
			position: absolute!important;
			bottom: 0;
			left: 0;
			font-size: 1em;
			line-height: $global-lineheight;
			background: rgba($primary-color,0.5);
			padding: $global-padding/3;
			color: #FFF;
			width: 100%;
			font-style: normal;
			opacity: 0;
			transition: 0.3s ease;
			pointer-events: none;
		}
		
		&:hover,
		.gallery-caption {
			opacity:1;
			z-index:1000;
		}
		
	}
	
	br {
		display:none!important;
	}
	
	&.gallery-columns-1, &.gallery-columns-2, &.gallery-columns-3 {
		.gallery-item {
			@include grid-column(4);
		}
	}
	
	&.gallery-columns-4 {
		.gallery-item {
			@include grid-column(3);
		}
	}
	
	&.gallery-columns-5 {
		.gallery-item {
			width: 20%;
			flex-basis: 20%;
		}
	}
	
	&.gallery-columns-6 {
		.gallery-item {
			@include grid-column(2);
		}
	}
	
	&.gallery-columns-7 {
		.gallery-item {
			width: 14.28%;
			flex-basis: 14.28;
		}
	}
	
	&.gallery-columns-8 {
		.gallery-item {
			width: 12.5%;
			flex-basis: 12.5%;
		}
	}
	
	&.gallery-columns-9 {
		.gallery-item {
			width: 11.11%;
			flex-basis: 11.11%;
		}
	}
}