body {

	@include breakpoint(xxlarge up) {
		font-size: rem-calc(18);
	}
}

small {
	font-size: $font-size-small;
}

p, ul {
	
	&:last-child {
		margin-bottom: 0;
	}
}

.byline {
	display: block;
	margin-bottom: $paragraph-margin-bottom;
	color: rgba($body-font-color, 0.8);
	font-size: $font-size-small;
}