/*==================================================================================
	WOOCOMMERCE
==================================================================================*/

/*===================================
	ANNOUNCEMENTS AND MESSAGES
====================================*/
.woocommerce-demo-store {
	
	.demo_store {
		@include callout($warning-color);
		position: fixed;
		top: 0;
		width: 100%;
		z-index: 9999;
		text-align: center;
		margin: 0;
	} 
}

.woocommerce {
	
	.term-description {
		@include grid-gutter-margin-bottom;
	}
	
	.filter .term-description {
		display: none;
	}
	
	.onsale {
		@include badge; 
		color: $white;
		background: $success-color;
		font-size: 1rem;
		line-height: 2.0;
		position: absolute;
		top: $global-padding/2;
		left: $global-padding/2;
		z-index: 100;
	}
	
	a.edit {
		@include button;
	}
}

.woocommerce-message, .woocommerce-result-count, .woocommerce-info {
	@include callout($primary-color);
	display: flex;
	margin-bottom: $global-margin;
	align-items: center;

	a {
		@include button(false, $success-color, darken($success-color,5%), $white, solid);
		order: 9999;
		margin-left: auto;
		margin-bottom: 0;
	}
	
	br {
		display: none;
	}
}

.woocommerce-error {
	@include callout($alert-color);
}

/*===================================
	PRODUCT SORTING SELECTBOX
====================================*/
.woocommerce-ordering {
	@include flex-grid-row();
	margin-bottom: $global-margin;
	
	select {
		@include breakpoint(medium up) {
			@include flex-grid-column(3);
			margin-left: auto !important;
		}
	}

}

/*===================================
	STAR RATINGS
====================================*/
.star-rating {
	overflow: hidden;
	position: relative;
	line-height: 1;
	font-size: 1em;
	height: 1rem;
	width: 5.4em;
	font-family: 'star';

	&::before {
		content: '\73\73\73\73\73';
		color: $body-font-color;
		top: 0;
		left: 0;
		position: absolute;
	}

	span {
		overflow: hidden;
		top: 0;
		left: 0;
		position: absolute;
		padding-top: 1.5em;
	}

	span::before {
		content: '\53\53\53\53\53';
		top: 0;
		position: absolute;
		left: 0;
	}
}

.woocommerce-product-rating {
	line-height: 2;
	display: block;
	margin-bottom: $global-margin;
}

.hreview-aggregate .star-rating {
	margin: 10px 0 0;
}

#review_form #respond {
	position: static;
	margin: 0;
	width: auto;
	padding: 0;
	background: transparent none;
	border: 0;

	p {
		margin: 0 0 10px;
	}

	.form-submit input {
		left: auto;
	}

	textarea {
		box-sizing: border-box;
		width: 100%;
	}
}

p.stars {
	
	a {
		position: relative;
		height: 1em;
		width: 1em;
		text-indent: -999em;
		display: inline-block;
		text-decoration: none;
		font-size: 0;

		&::before {
			font-size: 1.5rem;
			position: relative;
			display: block;
			width: 1.5em;
			height: 1em;
			line-height: 1;
			font-family: 'WooCommerce';
			content: '\e021';
			text-indent: 0;
			transition: $anchor-transition;
		}

		&:hover ~ a::before {
			content: '\e021';
		}
		
		&.star-2 {
			&:before { 
				left: 1em;
			}
		}
		
		&.star-3 {
			&:before { 
				left: 2em;
			}
		}
		
		&.star-4 {
			&:before { 
				left: 3em;
			}
		}
		
		&.star-5 {
			&:before { 
				left: 4em;
			}
		}
	}

	&:hover a::before {
		content: '\e020';
	}

	&.selected {
		a.active {
			&::before {
				content: '\e020';
			}

			&~ a::before {
				content: '\e021';
			}
		}

		a:not( .active )::before {
			content: '\e020';
		}
	}
}

.woocommerce-product-rating {
	line-height: 2;
	display: block;
}

.products .star-rating {
	display: block;
}


/*===================================
	PRODUCT LISTS AND ARCHIVES
====================================*/
ul.products {
	@include flex-grid-row();
	@include nested-row-negative-margins();
	list-style: none;
	padding: 0;
	margin: 0;

	li {
		@include flex-grid-column(12);
		margin-bottom: $global-margin*2;
		text-align: center;

		@include breakpoint(medium up) {
			@include flex-grid-column(6);
		}

		@include breakpoint(medium up) {
			@include flex-grid-column(4);
		}

		@include breakpoint(large up)  {
			@include flex-grid-column(3);
		}

		a {
			display: block;
			text-decoration: none;
			padding: 0;
			border: 0;
			margin: 0;
			position: relative;
			
			img {
				margin: 0;
				display: block;
				border: rem-calc(1) solid rgba($body-font-color,0.2);
				width: 100%;
				transition: $anchor-transition;
			}
			
			h2 {
				font-size: 1em;
				font-family: $header-font-family;
				font-weight: $global-weight-bold;
				text-align: center;
				margin: $global-margin/2 0;
				transition: $anchor-transition;
			}
			
			span {
				&.price {
					display: block;
					width: 100%;
					font-size: $font-size-small; 
					color: $body-font-color;
					del {
						color: rgba($body-font-color,0.6);
					}
				}
			}
			
			&:hover, &:focus {
				
				img {
					border-color: $primary-color;
				}
				
				h2 {
					color: $anchor-color-hover;
				}	
			}
			
			&.button {
				@extend .button, .small;
				margin: 0 auto;
			}
			
			&.added_to_cart {
			}
		}
		
		.star-rating {
			margin: $global-margin/2 auto;
			
			> span {
				width: 100%;
				text-align: center;
			}
		}
	}	
}

/*===================================
	PRODUCT FILTER WIDGET
====================================*/
aside {
	
	.shop-filter  {
		
		h3 {
			color:$primary-color;
			margin-bottom:$global-margin/2;
		}
		
		ul {
			background:none;
			padding:0 0 $global-padding/2 0;
			margin:0 0 $global-padding/2 0;
			border-bottom:rem-calc(1) solid rgba($body-font-color,0.2);
			
			&:last-child {
				margin-bottom:$global-margin;
			}
			
			li {
				font-size: 1rem;
				color:$accent-color;
				
				span.count {
					display:none;
				}
				
				a {
					display:inline-block;
					text-decoration:none;
					color:$primary-color;
				}
				
				&.chosen {
					a {
						&:before {
							@include icon('\f057');
							color:rgb(204,0,0);
							margin-right:$global-margin/4;
						}
					}
				}
			}
		}
	}
}

/*===================================
	SINGLE PRODUCT PAGE
====================================*/
.single-product {
	
	main > .type-product {
		position: relative;
		@include flex-grid-row();
		@include nested-row-negative-margins();
		
		.onsale {
			left: $global-margin*1.5;
		}

		.images {
			@include breakpoint(medium up) {
				@include flex-grid-column(5);
			}
			
			.woocommerce-product-gallery__wrapper {
				@include flex-grid-row(); 
				@include nested-row-negative-margins();
				
				.woocommerce-product-gallery__image {
					@include flex-grid-column(4);
					margin-bottom: $global-margin/2;
					
					&:first-of-type {
						@include flex-grid-column(12);
					}
				}
			}
		}
		
		.entry-summary {
			display: flex;
			flex-wrap: wrap;
			align-content: flex-start;
			justify-content: flex-start;
			
			@include breakpoint(medium up) {
				@include flex-grid-column(7);
				margin-left: auto;
			}

			h1,
			h2,
			.woocommerce-product-rating,
			div[itemprop=offers],
			div.woocommerce-product-details__short-description,
			p:not(.price),
			ul,
			form,
			.product_meta, 
			table.variations,
			.woocommerce-variation-add-to-cart {
				width: 100%;
				max-width: 100%;
				flex-basis: 100%;
			}

			h1, h2 {
				align-items: flex-start;
			}
			
			h1 {
				margin-bottom: $global-margin;
			}

			h1, .woocommerce-product-rating {
				@include breakpoint(medium up) {
					@include flex-grid-column(6);
					padding: 0 !important;
				}
			}

			.woocommerce-product-rating {
				@include breakpoint(medium up) {
					display: flex;
					align-items: center;
					justify-content: flex-end;
				}
			}
			
			p.price, span.price {
				@include callout($success-color);
				padding: $global-padding/2;
				margin-bottom: $global-margin;

				del {
					opacity: 0.5;
					margin-right:$global-margin/2;
				}
			}

			table.variations {
				position: relative;
				margin: $global-margin 0;
				padding-right: 0 !important;
				
				tbody {
					background: $light-gray;
				}
				
				th, td {
					&.label, &.value {
						display: table-cell;
						background: transparent;
						
						label, input, select {
							margin:0;
						}
					}
					a.reset_variations {
						font-size: $font-size-small;
						opacity: 0.7;
						text-transform: uppercase;
						display: none;
						position: absolute;
						top: 100%;
						right: 0;
						padding: $global-padding/2 0;
						&:hover, &:focus {
							opacity: 1;
						}
					}
				}
			}
			
			.woocommerce-variation-price {
				margin-bottom: $global-margin;
				
				@include breakpoint(medium up) {
					text-align: right;
				}
			}
			
			// Add to Cart/Basket Button 
			form.cart:not(.variations_form), .variations_button { 
				padding: 0 !important;
				display: flex;
				justify-content: flex-end;
				margin: $global-margin 0;

				div.quantity {
					display: inline-block;
					padding-right: $global-padding/2;

					input {
						display: inline-block;
						
						&.qty {
							border: 1px solid $primary-color;
							width: 100%;
							padding: $global-padding/2;
							text-align: left;
						}
					}
				}
				button {
					&[type=submit] {
						@include button;
					}
				}
			}

			.stock {
				display: inline-block;
				
				&.in-stock {
					@include callout($success-color);
				}
				
				&.out-of-stock {
					@include callout($alert-color);
				}
			}
		}
		
		// Tabs
		.wc-tabs-wrapper {
			@include flex-grid-column(12);
			margin: $global-margin*2 0;
		}
		ul.tabs {
			@include tabs-container();
			
			> li {
				@include tabs-title();
			}
		}
		.woocommerce-Tabs-panel {
			@include tabs-content();
			padding: $global-padding;
		}
		
		#tab-reviews {
			width: 100%;
			display: flex;
			
			h2 {
				@extend h4;
				margin-top: 0;
			}
			
			#reviews {
				@include flex-grid-row();
				width: 100%;
			}
			
			#comments,
			#review_form_wrapper {
				@include flex-grid-column(12);
				padding: 0;
				
				@include breakpoint(large up) {
					@include flex-grid-column(6);
				}
			}
			
			#comments {
				padding: 0;
				
				ol {
					margin-left: 0;
					list-style: none;
					
					li {
						list-style: none;
						margin-top: $global-margin/2;
						border-bottom: 1px solid $light-gray;
						
						&:last-of-type {
							border: 0;
						}
						
						.comment_container {
							@include flex-grid-row(); 
							align-items: flex-start;
							padding-left: 0;
							padding-right: 0;
							padding-top: $global-padding;
							padding-bottom: $global-padding;
							
							img {
								@include flex-grid-column(shrink);
								padding-right: 0;
							}
							
							.comment-text {
								@include flex-grid-column(expand);
							}
							
							.star-rating {
								justify-content: flex-start;
								margin-bottom: $global-margin/2;
							}
							
							p.meta {
								margin-bottom: $global-margin/2;
							}
							
							.description { 
								
								p {
									margin-bottom: $global-margin/4;
									color: $dark-gray;
								}
							}
						}
					}
				}
			}
			
			#respond {
				
				@include breakpoint(large up) {
					padding-left: $global-padding*2;
				}
				
				#reply-title {
					@extend h4;
					display: block;
				}
	
			}
			
			#review_form_wrapper {
				padding: 0;
				
				h3 { 
					@extend h4;
					margin-top: 0;
				}
			}
		}
	}
}


/*===================================
	RELATED PRODUCTS ON SINGLE PRODUCT PAGE
====================================*/
.related.products {
	
	> h2 {
		text-align: center;
	}
	
	ul.products {
		margin-left: 0;
		margin-right: 0;
	}
}


/*===================================
	CART/BASKET/CHECKOUT
====================================*/
.shop_table { 
	
	tr {
		width: 100%;

		th, td {
			padding: $global-padding/2;
		}

		.product-remove {
			text-align: center;
			max-width: $global-padding + $global-padding/2;

			a {
				background: $alert-color;
				color: $white;
				border-radius: 100%;
				border: 0;
				display: block;
				width: $global-padding;
				height: $global-padding;
				line-height: $global-padding;
				margin: $global-margin/4;
			}
		}
			
		.product-thumbnail {
			
			@include breakpoint(small only) {
				display: none;
			}
			
			img {
				display:block;
				margin: 0;
				max-width: $global-padding*5;
			}
		}

		.product-name {

			a {
				display:block;
				border:0;
			}

			dl.variation {
				margin-bottom:$global-margin/4;

				dt, dd {
					display: inline-block;

					p {
						font-size: $font-size-small;
					}
				}
			}
		}

		.product-price {
			
			@include breakpoint(small only) {
				display: none;
			}

			span.amount {
				display: block;
			}
		}
			
		.product-quantity {
			
			.quantity {
				
				input {
					height: $global-padding*1.5;
					display: inline-block;

					&.qty {
						width: $global-padding*3;
						border: 1px solid $light-gray;
						padding: $global-padding/2;
						text-align: center;
						margin-bottom: 0;
					}
				}
			}
		}

		.product-subtotal {
			
			span.amount {
				display:block;
			}
		}

		.actions {
			text-align: right;
			position: relative;
			width: 100%;

			p {
				margin: 0;
			}

			.coupon {
				@include flex-grid-row();
				
				@include breakpoint(large up) {
					width: 50%;
					margin: 0;
				}
				
				label {
					display: none;
				}

				input {
					@include flex-grid-column(6);
					height: $global-padding*2;
					padding-top: 0;
					padding-bottom: 0;

					&[type=submit] {
					}
					
					@include breakpoint(large up) {
						margin-bottom: 0 !important;
					}
					
				}
			}
			
			.coupon + p {
				
				@include breakpoint(large up) {
					width: 50%;
					display: inline-block;
					position: absolute;
					top: $global-padding/2;
					right: $global-padding/2;
					
					.button {
						margin-left: auto;
					}
				}
			}
			
			input {
				
				&[name=update_cart] {
					width: 100%;
					margin-bottom: 0;
					
					@include breakpoint(large up) {
						width: auto;
					}
				}
			}
		}
	}
}

.cart-collaterals {
	tr {
		
		th {
			text-align:left;
		}
		
		td {
			text-align:right;
		}

		.woocommerce-shipping-calculator {
			margin-top: $global-margin/2;

			> p {
				font-weight:$global-weight-bold;
				margin:0;

				a {
					@include button;
					
					&:before {
						@include icon('\f1ec');
						margin-right:$global-margin/4;
					}
				}
			}

			.shipping-calculator-form {
				font-size: 0;
			}
			
			input {
				margin-bottom: 0;
			}
		}
	}
	
	tr.shipping {
		
		th {
			font-size: 0;
		}
	}
	
	.shipping-calculator-form {
		padding: 0;
		
		p.form-row {
			margin-bottom: $global-margin/2;
			
			@include breakpoint(large up) {
				width: 33.33%;
				display: inline-block;
				padding-left: $global-padding/2;
			}
		}
		
	}
	
}

.wc-proceed-to-checkout {
	text-align: right;
	
	a {
		@extend .button.success; 

		br {
			display: none;
		}
	}
}

.woocommerce-checkout, .woocommerce-account {	
	
	.col-1,
	.col-2 {
		@include flex-grid-column(12);
		
		@include breakpoint(large up) {
			@include flex-grid-column(6);
		}
	}
	
	.col-1 {
		@include breakpoint(large up) {
			border-right: rem-calc(1) solid rgba($body-font-color,0.2);
			padding-left: 0;
		}
	}
	
	.col-2 {
		@include breakpoint(large up) {
			padding-right: 0;
		}
	}

	form {
		
		&.login, &.checkout_coupon {
			padding: $global-padding;
			border: rem-calc(1) solid $light-gray;
			font-size: 0;
			margin-top: -($global-margin);
			@include grid-gutter-margin-bottom;
		}
		
		
		&.checkout {

			#customer_details {
				@include flex-grid-row();

				p.create-account {
					margin:$global-margin 0 0;
					label {
						font-weight:$global-weight-bold;
					}
					input {
						margin:rem-calc(-2) $global-margin/4 0 0;
					}
				}
			}
					
			div.create-account {

				#account_password_field {
					padding:$global-padding/2;
					margin-bottom: $global-margin;

					label {
						font-weight:$global-weight-bold;
					}

					.woocommerce-password-strength {
						padding:$global-padding/4;
						margin:$global-margin/4;
						font-size: $font-size-small;

						&.short {
							@include callout($alert-color);
						}
						&.bad {
							@include callout($alert-color);
						}
						&.good {
							@include callout($warning-color);
						}
						&.strong {
							@include callout($success-color);
						}
					}
				}
			}
			
			#order_review_heading {
				@include grid-gutter-margin-top;
			}

			#order_comments_field {
				margin-top: $global-margin;

				textarea {
					min-height:rem-calc(100);
				}
			}
		}
	}

	#payment {
		border: 1px solid $light-gray;
		padding: $global-padding;
		
		ul {
			list-style: none;
			margin-left: 0;
		}
		
		.payment_box {
			@include callout($light-gray);
			color: $dark-gray;
		}
	}
	
	.place-order {
		text-align: right;
	}
	
	#place_order {
		@include button(false, $success-color, darken($success-color,5%), $white, solid);
	}
	
	.woocommerce-thankyou-order-received {
	}
	
	.woocommerce-thankyou-order-details {
	}

}

/*===================================
	MY ACCOUNT PAGE
====================================*/
.woocommerce-account {
	
	.woocommerce-MyAccount-navigation {
		
		ul {
			@include menu-base;
			@include menu-direction(horizontal);

			@include breakpoint(large up) {
				@include flex-grid-row();
			}
			
			li {
				@include flex-grid-column(12);
				padding: 0 !important;
				
				@include breakpoint(large up) {
					@include flex-grid-column(expand);
					padding: 0 !important;
				}

				a {
					@include button;
					width: 100%;
				}
				
				&.is-active {
					a {
						@include button(false, darken($primary-color,10%), darken($primary-color,15%), $white, solid);
					}
				}
			}
			
		}
	}
	
	.col2-set {
		@include flex-grid-row;
	}
}