.top-bar {

  .top-bar-left,
  .top-bar-right {
	  border-top: $global-padding solid $primary-color;
	  
	  > ul {
		  padding-top: $global-padding;
	  }
	  
	  ul {
		  
		  li {
			 &:hover,
			  &:focus,
			  &.active {
				  color: #FFF;
				  
				  a {
					  background: $dropdownmenu-background;
					  color: #FFF;
				  }
			  } 
		  }
		  
		  &.is-dropdown-submenu {
			  top: 100%;
			  left: 0;
			  
			  li {
				  a {
					  color: #FFF;
					  
					  &:hover,
					  &:focus {
						  background: darken($primary-color,5%);
					  }
				  }
				  
				  
			  }
		  }
	  }
	  
  }
 

  .top-bar-right {
	  width: 100%;
	  
	  ul {
		  float: right;
	  }
  }

  .menu a {
	img {
		max-width: 100%;
	}
  }

  .menu>li:not(.menu-text)>a {
    padding: 1rem;
  }

.menu li.home {
	a {
		padding: $global-padding/2 0;
		&:hover,
		&:focus {
			background: transparent;
		}
	}
 }


  .dropdown.menu .has-submenu.is-down-arrow a {
    padding-right: 1rem;
  }

  .dropdown.menu .has-submenu.is-down-arrow>a::after {
    border: 0;
  }


}

.title-bar {
  @include breakpoint(medium) {
    display: none;
  }

  .title a {
    font-size: 1rem;
    color: #B9B9B9;
  }
}
