#featured-hero {
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	position: relative;
	height: rem-calc(300);
	
	@include breakpoint(medium up) {
		height: rem-calc(385);
	}
}